# Nielsen Case Study Analysis

By Jackie Petersen

## EDA

---

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.metrics import ConfusionMatrixDisplay
from sklearn.pipeline import make_pipeline
from sklearn.compose import make_column_transformer

In [2]:
data = pd.read_csv('census_labeled.csv')

#### Checking through the data briefly to get an idea of what is in the dataset.

In [3]:
data.head()

,county name,state,county_population_increased_2015_2016,year,female_total_population,female_age_under_5_pct,female_age_5_to_9_pct,female_age_10_to_14_pct,female_age_15_to_19_pct,female_age_20_to_24_pct,...,male_age_40_to_44_pct,male_age_45_to_49_pct,male_age_50_to_54_pct,male_age_55_to_59_pct,male_age_60_to_64_pct,male_age_65_to_69_pct,male_age_70_to_74_pct,male_age_75_to_79_pct,male_age_80_to_84_pct,male_age_85_and_over_pct
0,Stark County,Ohio,False,2010,192651,5.5,6.3,6.0,6.2,5.7,...,7.0,7.4,8.1,7.4,6.2,4.8,3.1,2.6,2.0,1.5
1,Summit County,Ohio,False,2010,279592,5.6,5.8,6.2,6.5,6.1,...,6.8,7.6,8.1,7.5,5.6,3.6,3.3,2.5,2.0,1.2
2,Trumbull County,Ohio,False,2010,108490,5.4,5.9,6.3,6.2,5.0,...,6.7,7.1,8.1,6.9,7.5,5.7,3.0,2.5,2.6,1.5
3,Tuscarawas County,Ohio,False,2010,47279,5.5,5.2,7.7,6.5,4.9,...,5.5,7.2,8.1,6.2,7.2,4.0,4.0,2.4,2.5,1.4
4,Warren County,Ohio,True,2010,105706,6.4,7.0,8.5,6.4,4.2,...,6.9,8.3,7.4,5.2,5.7,3.3,2.3,1.7,1.3,0.7

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4951 entries, 0 to 4950
Data columns (total 42 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   county name                            4951 non-null   object
 1   state                                  4951 non-null   object
 2   county_population_increased_2015_2016  4945 non-null   object
 3   year                                   4951 non-null   int64
 4   female_total_population                4951 non-null   int64
 5   female_age_under_5_pct                 4951 non-null   float64
 6   female_age_5_to_9_pct                  4951 non-null   float64
 7   female_age_10_to_14_pct                4951 non-null   float64
 8   female_age_15_to_19_pct                4951 non-null   float64
 9   female_age_20_to_24_pct                4951 non-null   float64
 10  female_age_25_to_29_pct                4951 non-null   float64
 11  female_age_30_to_34_pct                4951 non-null   float64
 12  female_age_35_to_39_pct                4951 non-null   float64
 13  female_age_40_to_44_pct                4951 non-null   float64
 14  female_age_45_to_49_pct                4951 non-null   float64
 15  female_age_50_to_54_pct                4951 non-null   float64
 16  female_age_55_to_59_pct                4951 non-null   float64
 17  female_age_60_to_64_pct                4951 non-null   float64
 18  female_age_65_to_69_pct                4951 non-null   float64
 19  female_age_70_to_74_pct                4951 non-null   float64
 20  female_age_75_to_79_pct                4951 non-null   float64
 21  female_age_80_to_84_pct                4951 non-null   float64
 22  female_age_85_and_over_pct             4951 non-null   float64
 23  male_total_population                  4951 non-null   int64
 24  male_age_under_5_pct                   4951 non-null   float64
 25  male_age_5_to_9_pct                    4951 non-null   float64
 26  male_age_10_to_14_pct                  4951 non-null   float64
 27  male_age_15_to_19_pct                  4951 non-null   float64
 28  male_age_20_to_24_pct                  4951 non-null   float64
 29  male_age_25_to_29_pct                  4951 non-null   float64
 30  male_age_30_to_34_pct                  4951 non-null   float64
 31  male_age_35_to_39_pct                  4951 non-null   float64
 32  male_age_40_to_44_pct                  4951 non-null   float64
 33  male_age_45_to_49_pct                  4951 non-null   float64
 34  male_age_50_to_54_pct                  4951 non-null   float64
 35  male_age_55_to_59_pct                  4951 non-null   float64
 36  male_age_60_to_64_pct                  4951 non-null   float64
 37  male_age_65_to_69_pct                  4951 non-null   float64
 38  male_age_70_to_74_pct                  4951 non-null   float64
 39  male_age_75_to_79_pct                  4951 non-null   float64
 40  male_age_80_to_84_pct                  4951 non-null   float64
 41  male_age_85_and_over_pct               4951 non-null   float64
dtypes: float64(36), int64(3), object(3)
memory usage: 1.6+ MB

> Most columns are numerical. These ones will need to be scaled to put into the model (as is best practice). The other object columns being used, mainly 'county name', will need to be one hot encoded.

#### Checking to see how many entries exist for each year.

In [7]:
data['year'].value_counts()

2015    830
2013    828
2014    828
2012    825
2011    822
2010    818
Name: year, dtype: int64

#### Checking to see if each county has nearly similar amounts of entries.

In [9]:
data['county name'].value_counts()

Washington County         54
Jefferson County          54
Montgomery County         42
Madison County            42
Wayne County              30
                          ..
Ward County                3
Rice County                3
Lewis and Clark County     3
Broomfield County          1
Athens County              1
Name: county name, Length: 662, dtype: int64

> Here we see that each county for the most part has varying amounts of entries total.